{% extends 'base.html.twig' %}

{% block title %}formulaire{% endblock %}

{% block body %}
    <a href=" {{ path('maquette') }} " class="text-dark ms-3 text-capitalize">retour</a>
    <div class="w-25 mx-auto p-5 bg-info">
    {{ form(form) }}
    </div>
{% endblock %}