<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>maquette</title>
    <link rel="stylesheet" href="maquette.css">
</head>
<body>
    <h1>salut salut les pros</h1>
    <input type="file" style="">
    <script src=" {{asset('assets/test.js')}} "></script>
</body>
</html>